section {
  padding: 6rem 0;
}
.outer-container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 4rem 0;
}

.outer-container-full {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.inner-container-b {
  display: block;
}

.npt {
  padding-top: 0 !important;
}

.np {
  padding: 0 !important;
}

.npb {
  padding-bottom: 0 !important;
}
